<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>controllerInscription</servlet-name>
        <servlet-class>com.controllers.controllerInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerDeconnexion</servlet-name>
        <servlet-class>com.controllers.controllerDeconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerConnexion</servlet-name>
        <servlet-class>com.controllers.controllerConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerUtilisateur</servlet-name>
        <servlet-class>com.controllers.controllerUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerEvenement</servlet-name>
        <servlet-class>com.controllers.controllerEvenement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerModificationUtilisateur</servlet-name>
        <servlet-class>com.controllers.controllerModificationUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerModificationEvenement</servlet-name>
        <servlet-class>com.controllers.controllerModificationEvenement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerRecherche</servlet-name>
        <servlet-class>com.controllers.controllerRecherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rechercheAdmin</servlet-name>
        <servlet-class>com.controllers.controllerRechercheAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerRechercheAdmin</servlet-name>
        <servlet-class>com.controllers.controllerRechercheAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerAdministration</servlet-name>
        <servlet-class>com.controllers.controllerAdministration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerModificationEvenements</servlet-name>
        <servlet-class>com.controllers.controllerModificationEvenements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerProfil</servlet-name>
        <servlet-class>com.controllers.controllerProfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllerInscription</servlet-name>
        <url-pattern>/controllerInscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerDeconnexion</servlet-name>
        <url-pattern>/controllerDeconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerConnexion</servlet-name>
        <url-pattern>/controllerConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerUtilisateur</servlet-name>
        <url-pattern>/controllerUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerEvenement</servlet-name>
        <url-pattern>/controllerEvenement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerModificationUtilisateur</servlet-name>
        <url-pattern>/controllerModificationUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerModificationEvenement</servlet-name>
        <url-pattern>/controllerModificationEvenement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerRecherche</servlet-name>
        <url-pattern>/controllerRecherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rechercheAdmin</servlet-name>
        <url-pattern>/rechercheAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerRechercheAdmin</servlet-name>
        <url-pattern>/controllerRechercheAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerAdministration</servlet-name>
        <url-pattern>/controllerAdministration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerModificationEvenements</servlet-name>
        <url-pattern>/controllerModificationEvenements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerProfil</servlet-name>
        <url-pattern>/controllerProfil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
