a{
    color : black;
}
input{}
.search-bar input,
.search-btn, 
.search-btn:before,.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-btn:hover{
    
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}

.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {

	padding: 1.5em;
	
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.6);
	transform-origin: 120% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #d6cfb4;
	
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
        width: 80%;
}
.search-btn {
	background: black;
	
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(35deg) scale(0.25,0.125);
	transform-origin: 0 ;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em black inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}

/** handle in text box**/
.search-btn:after {
	background: black;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
    background: #d9d9d9;
    background-color: antiquewhite;
    border-bottom: 3px solid #afab9f;
    border-right: 3px solid #afab9f;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: white;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateX(100px);
}
