body{
    background-color: #d6cfb4
}
.home-section{
    margin: 20px;
    display : flex;
    flex-direction: row;
    height: 100%;
}

.right-section{
    margin-left: 10px;
    margin-right: 20px;
    color : black;
    align-items:  stretch;
    display:flex;
    flex-direction: column; 
}

.r-s-btm{
    color : black;
    margin: 50px;
}

