body{
    background-color: #d6cfb4
}
.top-bar {
   display : flex;
   flex-direction: row;
    width : 100%;
    background-color: #afab9f;
    align-items:  center;
    justify-content: stretch
}

.top-bar>img{
    background-color: #afab9f;
    width: 100px;
    height : 100px;
    padding : 20px;
}

.home-section{
    background-color: #d6cfb4;
    display : flex;
    flex-direction: row;
    height: 100%;
}

.right-section{
    color : black;
    align-items:  stretch;
    display:flex;
    flex-direction: column; 
}

.nav-button{
    height: 50px;
    width:50px;
}

.r-s-btm{
    color : black;
    margin: 50px;
}