body{
    margin-left: 100px;
    margin-right: 100px;
    background: antiquewhite;
}

.logo-section{
    display : flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom:20px;
    background-color:#dbdbdb;
    height : 110px;
}
.feature-section{
    
    
}
.image-section{
    display: flex;
    align-items: center;
    background-color: #d6cfb4;
  
}
img{
    background-color: #d6cfb4;
    width:100%;
}
.message{
    padding : 20px;
    background-color: #d6cfb4;
}
.join{
    margin : 20px;
    font-size : 40px;
    color : #ffffff;
    background-color:#afab9f;
    border-radius: 5px;
    width : 250px;
    cursor: pointer;
}
.join>a{
    font-style: normal;
    text-decoration: none;
    font-size: 40px;
    width: auto;

}
.mid-section{
    margin-bottom: 20px;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
    text-align: center;
    background-color: #d6cfb4;
}
.join:hover{
    background-color : #ffffff;
    color:#afab9f;

}
