body{
    background: antiquewhite
}
.login-grid{
    align-self: center;
    margin-left: 30%;
    margin-top: 10%;
    margin-right: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    background-color: #d6cfb4;
}
.login-grid>label{
    background-color: #d6cfb4;
    color: #202020;
}
.login-grid>input{
    background-color: whitesmoke;
    color: #202020;
}
.boutton{
    text-align: center;
    margin: 20px 30px 10px 30px;
    border-radius: 5px;
    color: black;
    text-size : 25px;
}
