
.login-grid{
    box-shadow: -5px -5px 10px rgba(255,255,255,0.6), 3px 3px 6px rgba(0,0,0,0.1);
    font-size: 1.02rem;
    align-self: center;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;

}
label{
    color : black;
}
.boutton{
    text-align: center;
    margin: 20px 30px 10px 30px;
    
}
