/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.event-section{
    margin-left : 20px;
    margin-right:10px;
    
    width: 100%;
    background-color: antiquewhite;
}
.event-section header{
    border-bottom: #d6cfb4 1px solid;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .date{
    text-align: center;
    color : #202020;
    font-size: 1.45rem;
    font-weight: 500;
}
.planificateur{
    padding: 20px;
    justify-content: center;
    align-content: center;
}
.evenement{
    background-color: antiquewhite;
    height : 300px;
    width: 250px;
}
div > .titre_evenement{
    color : black;
    font-size: 30px;
    border-bottom: 2px solid #d6cfb4
}
.evenement .contenu{
    margin : 20px;
    
}