/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.event-section{
    box-shadow: -5px -5px 20px var(--color-white),  5px 5px 20px var(--color-shadow);
    margin-left : 20px;
    margin-right:10px;
    width: 100%;
}
.event-section header{

    display: flex;
    align-items: center;
    align-content: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .date{
    text-align: center;
    color : #202020;
    font-size: 1.45rem;
    font-weight: 500;
}
.planificateur{
    padding: 20px;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.evenement{

    height : 300px;
    width: 250px;
}
div > .titre_evenement{
    color : black;
    font-size: 30px;
    border-bottom: 2px solid #d6cfb4
}
.evenement .contenu{
    margin : 20px;
}

img {
    max-width: 100%;
    display: block;
}

.card-list {
    width: 90%;
    max-width: 400px;
}

.card {
    margin: 10px;
    box-shadow: -5px -5px 20px var(--color-white),  5px 5px 20px var(--color-shadow);
    border-radius: 15px;
    overflow: hidden;
    padding: 1.25rem;
    position: relative;
    transition: .15s ease-in;
}
.card:hover, .card:focus-within {
    box-shadow: 0 0 0 2px var(--color-white), 0 10px 60px 0 var(--color-shadow);
    transform: translateY(-5px);
}

.card-image {
    max-width: 100%;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-header>a {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.25;
    padding-right: 1rem;
    text-decoration: none;
    will-change: transform;
}
card-reader>a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.icon-button{

    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s ease;

    z-index: 1;
    cursor: pointer;
}

.card-footer {
    margin-top: 1.25rem;
    border-top: 1px solid #ddd;
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-meta {
    display: flex;
    align-items: center;
    color: #787878;
}
.card-meta:first-child:after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: currentcolor;
    margin-left: .75rem;
    margin-right: .75rem;
}
svg {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-right: .25em;
}