@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
   text-align: center;
    border : 0;
    margin : 0;
    font-family: 'Poppins', sans-serif;
}
.box{
    border-bottom: 5px solid #afab9f;
    border-right: 5px solid #afab9f;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
a{
    text-decoration: none;
}
