.grid-container>a{
    color:whitesmoke;
}
.guest{
    display:flex;
    flex-direction: column;
    width: 300px;

    justify-content: space-around;
    background-color: gray;
    padding: 0px;
    text-align: center;
    color: blueviolet;
}
.guest>div{
    
    padding-top: 25px;
    height : 101px;
}
.guest>div:hover{
    cursor:pointer;
    background-color: blueviolet;
    color : whitesmoke;
}
.login-grid{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    background-color: var(--darker-gray);
}
.login-grid>button{
    margin: 20px 30px 10px 30px;
    
}
.annuler{
    font-size: 20px;
    text-align: right;
   
}

.annuler:hover{
    color:rgb(184, 0, 0);
    cursor:pointer;
    
}.grid-container>a{
    color:whitesmoke;
}
.guest{
    display:flex;
    flex-direction: column;
    width: 300px;

    justify-content: space-around;
    background-color: #202020;
    padding: 0px;
    text-align: center;
    color: blueviolet;
}
.guest>div{

    padding-top: 25px;
    height : 101px;
}
.guest>div:hover{
    cursor:pointer;
    background-color: blueviolet;
    color : whitesmoke;
}
.login-grid{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    background-color: var(--darker-gray);
}
.login-grid>button{
    margin: 20px 30px 10px 30px;
    
}
.annuler{
    font-size: 20px;
    text-align: right;
   
}

.annuler:hover{
    color:rgb(184, 0, 0);
    cursor:pointer;
    
}